
h1{
  color: darkblue;
}

p{
  color: #9c09e0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
 background: color rgb(7, 238, 226);
}

#inicio {
  background-color: blue;
  padding: 20px;
  border-bottom: 2px solid #00FFFF;
  text-align: center;
}

