table{
width: 70%;
  border-collapse: collapse;
}
th,td{
border: 2px solid rgb(2, 198, 247);
  padding: 8px;
text-align: center;
background-color: lightblue;
}
th{
  background-color: white;
  color: darkblue;
}
h1{
  color: darkblue;
}

p{
  color: #5ecf13;
  font-family: Arial, Helvetica, sans-serif;
}

body{
 background: color rgb(9, 255, 0);
}

#inicio {
  background-color: blue;
  padding: 20px;
  border: aqua;
}

#Iphones {
background-color: cadetblue;
padding: 20px;
border-bottom: blueviolet;
text-align: center;
}